@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background: linear-gradient(45deg, #8e2de2, #4a00e0);
    font-family: "Poppins", sans-serif;
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
}

h1 {
    padding-bottom: 15px;
    color: #4a00e0;
}
.conteudo {
    margin: auto;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 60%;
}

.fundo {
    background-color: rgba(255, 255, 255, 0.61);
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 300px;
    border-radius: 3em;
    padding: 2em;
}

input {
    padding: 8px;
    border-radius: 15px;
    text-align: center;
    font-family: "Poppins";
    margin-bottom: 15px;
}

li {
    margin-left: 30px;
    margin-bottom: 10px;
    list-style: none;
    text-align: left;
}
.footer {
    border-radius: 15px;
    background-color: blueviolet;
}